@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-glassmorphism {
  background: rgba(79, 103, 182, 0.4);
  border-radius: 16px;
  box-shadow: 600 700px 700px rgba(230, 218, 218, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(80px);
  border: 1px solid rgba(248, 244, 244, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

